# Ignorar pastas de cache do Python
__pycache__/
*.py[cod]

# Ignorar pastas de ambientes virtuais
venv/
env/

# Ignorar arquivos do Windows
Thumbs.db
desktop.ini


#Ignora esse Arquivo protect
credenciais.py  


#Ignora pasta 
.vscode/

#ignora o repo clone
Python-Clone_Git/
.env